.comment-mask {
    width: 100%;
    height: 100%;

    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.notify {
    top: 40px;
    position: absolute;
    z-index: 999;
    width: 768px;
    padding: 10px 8px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 2px;
    background: rgba(22, 24, 35, 0.67);
    backdrop-filter: blur(5px);
    animation: slideAnimation 2s ease-in-out forwards;
}

@keyframes slideAnimation {
    0% {
        transform: translateY(-60px);
    }
    15% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-110px);
    }
}

.close-btn {
    position: absolute; /* Thay đổi thành absolute */
    top: 15px;
    left: 15px;
    -webkit-box-align: center;
    -webkit-box-align: center;
    border-radius: 50%;
    background: rgba(84, 84, 84, 0.5);
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
        background-color: rgba(37, 37, 37, 0.6);
    }
}

.more-btn {
    position: absolute; /* Thay đổi thành absolute */
    top: 10px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.content-video {
    width: 992px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.right-side {
    flex-grow: 1;
}

.desc {
    background-color: white;
    height: 40%;
    display: flex;
    justify-content: center;
    // border-bottom: 1px solid #c7c7ce;
}

.comment {
    height: 50%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    // border-bottom: 1px solid #c7c7ce;
}

.add-comment {
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-data {
    height: 44px;
    width: 350px;
    display: flex;
    margin-bottom: 8px;
    position: relative;
    margin-right: 30px;
    margin-top: 8px;

    input {
        border-radius: 10px;
        background-color: rgba(22, 24, 35, 0.06);
        flex: 1;
        color: rgb(22, 24, 35);
        font-size: 1.5rem;
        caret-color: var(--primary);
        padding-inline-start: 12px;
    }
}

.wrapper-comment {
    margin-top: 10px;
    margin-left: 20px;
}

.be-first {
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    color: rgba(22, 24, 35, 0.5);
}

.edit-comment {
    opacity: 0;
    position: absolute;
    right: 26px;
}

.item-info {
    position: relative;

    &:hover {
        .edit-comment {
            opacity: 1;
        }
    }
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.name-header {
    font-family: var(--font-family-second);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    position: relative;
    left: 70px;
    top: -65px;
}

.fullname {
    &:hover {
        text-decoration: underline;
    }
}

.time {
    display: inline-block;
    color: rgba(22, 24, 35, 0.5);
    margin-left: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 1.5rem;
}

.reply {
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);
    margin-left: 100px;
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 1.5rem;
}

.heart-icon {
    position: absolute;
    right: 44px;
    top: 30px;
    cursor: pointer;
}

.description {
    word-wrap: break-word;
    max-width: 34ch;
    position: relative;
    left: 70px;
    top: -66px;
    font-size: 1.8rem;
}

// Menu Wrapper
.menu-list {
    width: 130px;
    height: 10px;
}

.menu-popper {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 16px 10px 16px 20px;
}

.line-1 {
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        color: var(--primary);
    }
}

.bin-icon {
    margin-right: 10px;
}

//Here
.wrapper-delete {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    right: 45%;
    color: black;
    width: 10%;
    height: 10%;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.loading-post {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    color: white;
    bottom: 22px;
    right: 42px;
}

.loading-post {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.container-delete {
    width: 400px;
    height: 194px;
    padding: 32px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgba(22, 24, 35, 0.03);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    animation: showDeleteForm ease 0.3s;
}

.title-delete {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 0px 32px;
    width: 100%;
    text-align: center;
    color: rgb(22, 24, 35);
    word-wrap: break-word;
    max-width: 18ch;
}

.button-wrapper-delete {
    width: 400px;
    display: flex;
    justify-content: center;
}

.button-cancel {
    width: 164px;
    height: 48px;
    margin: 16px 4px;
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
}

@keyframes showDeleteForm {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideLogoutForm {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
